/* Reset Styles */
/* Font */
@font-face {
    font-display: swap;
    font-family: "Abhaya Libre";
    font-style: normal;
    font-weight: 800;
    src: url("abhaya-libre-v14-latin-800.woff2") format("woff2");
}

/* Color theme */
.palette {
    color: #0d1b2a;
    color: #1b263b;
    color: #415a77;
    color: #778da9;
    color: #e0e1dd;
}

/* Body + Font + Background-Img */
body {
    font-family: "abhaya libre";
    font-weight: 800;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 1000px;
    background-image: url("https://images.pexels.com/photos/384555/pexels-photo-384555.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color: #dcccdc;
    display: grid;
    place-items: center;
}
main {
    width: 35vw;
    background: #778da9;
    padding: 5px;
    text-align: center;
}
button {
    display: block;
    padding: 10px 20px;
    background-color: #415a77;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
}
.happy {
    color: #0d1b2a;
    border-color: #415a77;
    border-radius: 3px;
    margin-top: 10px;
}
input {
    margin: 10px;
}

div {
    padding: 15px;
    background: #dcccdc;
    display: grid;
    place-items: center;
}
img:hover {
    rotate: -180deg;
}

main:hover button {
    rotate: 180deg;
}
